.w-6 {
    width: 24px;
}

.h-6 {
    height: 24px;
}

.h-full {
    height: 100%;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.ratio-3x4 {
    aspect-ratio: 3/4;
}